
   /* tag selector
        h1{

        } */


        /* id selector
        #ourGivenId{

        } */

        *{
            margin: 0px;
            padding:0px;
        }

        /* class Selector */
        .text-red{
            /* color:rgb(255, 0, 150); */
            color:rgba(255, 0, 0, 1);
            font-family: 'Montserrat', sans-serif;
            font-size:1rem;
            font-weight: bold;
            font-style: italic;
            /* text-decoration: line-through; */
            text-decoration-color: pink;
            text-decoration-style:wavy;
            letter-spacing: 2px;
            word-spacing: 15px;
            line-height: 1.5rem;
            text-shadow: -1px 2px 3px ;

        }
       

        .bg-yellow{
            background:yellow;
        }

        .bg-pink{
            background: pink;
        }

        h1{
            display: inline-block;
            width: 50%;
        }

        a{
            display: block;
        }

        p{
            display: inline;
        }

        div{
            background:green;
            height: 100px;
            width: 100px;
            /* padding-top:50px;
            padding-bottom:50px;
            margin-top:50px; */
            /* border-top:3px solid red; */
            border:1px solid black;
            border-radius:100px;

            /* border-top-left-radius: 100px;
            border-bottom-right-radius: 100px; */
        }

        span{
            background: cyan;
        }

        input:focus{
            background:red;
        }

        .grad{
            width: 100%;
            height: 400px;
            background: #00C9FF;  /* fallback for old browsers */
            background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        a:visited{
            color:yellow;
        }
    