*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.container-full{
    height: 100vh;
    background: url("https://suyashkumar.com/assets/img/portfolio/night_sky.jpg");
    background-position: 0 -270px;
}

.container{
    width: 80%;

    margin:0px auto;
}

header{
    display:flex;
    justify-content:space-between;
    padding: 20px 0px;
}

header h3{
    color:#fff;
}
header ul{
    list-style-type: none;
    display: flex;
}
header ul li{
    padding : 0px 10px;
}

header ul li a{
    color:#fff;
    text-decoration: none;
}
.jumbotron{
    margin-top: 35vh;
}

.jumbotron h1{
    font-size: 6rem;
    color:#fff;
    text-align: center; 
}
.jumbotron p{
    font-size: 2rem;
    color:#fff;
    text-align: center; 
}

.jumbotron {
    color:#fff;
    text-align:center;
}

.jumbotron i{
    border:1px solid #fff;
    border-radius: 50%;
    padding:10px;
    margin-top:80px;
    font-size:20px;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}
.bg{
    background-color:pink;
}

.flex-fill{
    flex:1
}

.mt-1{
    margin-top:1rem;
}

.mt-2{
    margin-top:2rem;
}

.mt-3{
    margin-top:3rem;
}

.mt-4{
    margin-top:4rem;
}

.mt-5{
    margin-top:5rem;
}

.display-1{
    font-size:5rem;
}

.display-2{
    font-size:4rem;
}

.display-3{
    font-size:3rem;
}

.display-4{
    font-size:2rem;
}

.pl-3{
    padding-left:3rem;
}

.color-primary{
    color:#42C3AB;
}

.actions a{
    border: 1px solid rgb(55, 55, 55);
    padding:10px 15px;
    color:rgb(55, 55, 55)
}

.actions a:hover{
    border: 1px solid rgb(55, 55, 55);
    padding:10px 15px;
    color:#fff;
    background:  rgb(55, 55, 55)
}