*{
    margin: 0px;
    padding: 0px;
}

.container-full{
    height: 100vh;
    background: url("https://suyashkumar.com/assets/img/portfolio/night_sky.jpg");
    background-position: 0 -270px;
}

.container{
    width: 80%;

    margin:0px auto;
}

header{
    display:flex;
    justify-content:space-between;
    padding: 20px 0px;
}

header h3{
    color:#fff;
}
header ul{
    list-style-type: none;
    display: flex;
}
header ul li{
    padding : 0px 10px;
}

header ul li a{
    color:#fff;
    text-decoration: none;
}
.jumbotron{
    margin-top: 35vh;
}

.jumbotron h1{
    font-size: 6rem;
    color:#fff;
    text-align: center; 
}
.jumbotron p{
    font-size: 2rem;
    color:#fff;
    text-align: center; 
}