*{
    margin:0px;
    padding:0px;
}

header{
    padding:30px 0px;
    background-color:red;
}

nav{
    padding:10px 0px;
    background-color:gray;
}
main{
height: 450px;
display: flex;
}
.left{
    background-color:yellow;
    flex:1;
}
.center{
background-color:pink;
flex:10;

}
.right{
    background-color:blue;
    flex:1;

}
footer{
    padding:30px 0px;
    background-color:brown;
}