*{
    margin:0px;
    padding:0px;
}

ul{
    margin-left:50px;
    list-style-type: none;
}


li::before{
    content: "";
    padding-left:10px;
    background:red;
    margin-right:10px;
    clip-path: polygon(0% 15%, 9% 61%, 15% 0%, 85% 0%, 85% 15%, 19% 77%, 64% 99%, 91% 42%, 85% 100%, 15% 100%, 15% 85%, 70% 13%);

    /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
}

/* li:nth-child(2n){
    background:red;
} */

li:last-child{
    background-color: red;
}